# IGNORED DIRECTORIES
.idea
.vscode
.scannerwork
/keys/*
/reports/*
/src/build/*
/src/vendor/*
src/tmp/*
/mock/node_modules/*

# IGNORED FILES
/data/*.db
.DS_Store
.date
*.bak
*.code-workspace
*.env
.env.production
.env.uat
*.test
*.out
coverage.*
debug.*
debug
main
/__debug_bin
/watch.sh
codeship.aes
.env.decrypted
dockercfg
